#search{
    height: 3rem;
    width: 50%;
}

button{
    height: 3rem;
}

.ava{
    width: 5%;
    margin-right: 5px
}

nav{
    padding: 15px;
    padding-left: 5%;
}

section{
    padding-left: 5%;
    padding-right: 5%;
}

.list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
}

.tabsite{
    width: 50% !important;
    max-height: 9rem;
}

@media (max-width:720px) {
    section{
        padding-left: 2%;
        padding-right: 2%;
    }
    #search{
        width: 100%;
    }
    .card{
        margin: 2px;
        width: 100% !important;
    }
}